@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

body {
  color: honeydew;
  font-family: "Source Sans Pro", sans-serif;
}

.poster {
  /* width: 400px; */
  width: 95%;
}

.general {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 30px;
  background-color: rgb(26, 26, 26);
  height: fit-content;
}

.posterContainer {
  width: 35%;
  display: flex;
  flex-direction: column;
}

.showInfo {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 30px;
}

#title {
  font-size: 45px;
}

.seasons {
  font-weight: 100;
}

.genreRating {
  /* display: flex;
  flex-direction: row;

  /* flex-wrap: wrap; */
  /* justify-content: space-between;  */
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: center;
  overflow: hidden;
}

.genreRatingContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 20px 20px 0px;
}

#genre {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.genreRatingTitles {
  font-size: 18px;
}

.genreBtn {
  background-color: rgb(36, 197, 36);
  width: auto;
  margin-left: 8px;
}

.genreBtn:hover {
  background-color: rgb(62, 255, 62);
}

#plot {
  font-size: 22px;
}

/* cast styling */

.castContainer {
  padding: 20px;
}

.castHeader {
  padding: 0px 0px 20px 50px;
  font-size: 40px;
}

.cast {
  display: flex;
  flex-direction: row;
  width: 95%;
  overflow-x: auto;
  white-space: nowrap;
  padding: 20px;
  /* border: solid 1px white; */

  /* height: 400px; */
}

.castMember {
  margin: 0px 20px;
  /* border: 1px solid white; */
  text-align: center;
  width: fit-content;
  height: fit-content;
}

.castName {
  font-weight: bolder;
  margin-top: 6px;
}

.castCharacter {
  color: grey;
  text-align: center;
  margin: 10px 0px 0px 0px;
}
.castPic {
  width: 175px;
}

@media (max-width: 1300px) {
  .showInfo {
    width: 55%;
  }

  .posterContainer {
    width: 45%;
  }
}

@media (max-width: 1150px) {
  .showInfo {
    width: 50%;
  }

  .posterContainer {
    width: 50%;
    padding-top: 50px;
  }
}

@media (max-width: 1000px) {
  body {
    margin: 0px;
    padding: 0px;
  }
  .general {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
  }
  .showInfo {
    width: 80%;
    align-items: center;
    padding: 900px 0px 0px 0px;
    margin: 0px;
    margin: 0px;
    padding: 0px;
    /* border: 1px solid white; */
  }

  #title {
    text-align: center;
  }

  .posterContainer {
    width: 60%;
    /* border: 1px solid white; */
    margin-bottom: 20px;
    text-align: center;
  }
}

@media (max-width: 925px) {
  .posterContainer {
    width: 70%;
  }
}
