@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oooh+Baby&family=Source+Sans+Pro&display=swap");
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: rgb(17, 17, 17);
}

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: rgb(14, 14, 14);
  align-items: center;
  height: 40px;
}

#logo {
  /* font-family: "Lobster", cursive; */
  font-family: "Oooh Baby", cursive;
  font-weight: 900;
  font-size: 33px;
  margin-left: 20px;
  color: rgb(36, 197, 36);
  text-decoration: none;
  transition: all 50ms;
}

#logo:hover {
  color: rgb(62, 255, 62);
}

input {
  border-radius: 5px;
  border: 0px;
  height: 25px;
  width: 200px;
  padding-left: 10px;
}
button {
  background-color: white;
  border-radius: 5px;
  border: 0px;
  height: 27px;
  width: 40px;
}

button:hover {
  background-color: rgb(224, 224, 224);
}

#links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#shows {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: center;
}

.show {
  box-sizing: border-box;
  margin: 50px;
  text-align: center;
  background-color: rgb(11, 49, 99);
  /* height: 450px; */
  width: 350px;
}

.image {
  box-sizing: border-box;
  margin: 50px;
  text-align: center;
  /* height: 450px; */
  width: 240px;
}

.image:hover {
  /* border: 1px solid white; */
  box-shadow: 10px 5px 5px white;
  transform: translate(0, 8px);
  transition: all 200ms;
}

@media (max-width: 679px) {
  #logo {
    margin-left: 0px;
  }
}
